/* *{box-sizing: border-box;
    font-family: 'Work Sans'
    Arial, Helvetica, sans-serif;

}
body{
    background-color: black;
    }
h1{
    color: white;
}

h2,h3{
    color: white;
}

ul{
    color: wheat;
    list-style-type: square;
    font-size:20px;

    font-family: 'Work Sans'
            Arial, Helvetica, sans-serifHelvetica,
            sans-serif;


}

.box1{
    height:200px;
    width: 200px;
    background-color: burlywood;
    border: 3px solid white;

}

#box2 {height:200px;
    width: 200px;
    background-color: red;

} */